:root {
    --color-background-left:  hsl(213, 51%, 65%);
    --color-background-middle: hsl(179, 44%, 64%);
    --color-background-right: hsl(334, 66%, 71%);
    --color-text-light: hsl(300, 67%, 1%);
}