<h2 class="page-header page-header-pink">Edit Author</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include('_form_fields_authors.ejs', {customClass: 'aqua'}) %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/authors/<%= author.id %>">Cancel</a>
        <button class="btn btn-secondary" type="submit">Edit</button> 
    </div>   
</form>