<h2>Edit Author</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include('_form_fields_authors.ejs') %>
    <a href="/authors/<%= author.id %>">Cancel</a>
    <button type="submit">Edit</button>
</form>