<h2 class="page-header">New Author</h2>
<!-- form action is only for button, not for anchor tag -->
<form action="/authors" method="POST">
    <%- include('_form_fields_authors.ejs', {customClass: 'blue'}) %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/authors">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>